.children-header {
  width: 100%;
}

.mh-header {
  top: 0;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  position: sticky;
}

.mh-link {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.link-icon {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #003399;
  text-decoration: none;
}

