   .results-summary {
     display: flex;
     background: #fff;
     border-radius: 16px;
     padding: 1rem;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
     overflow: hidden;
   }

   .results-summary-item {
     flex: 1;
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
     justify-content: space-between;
     padding: 0 1.5rem;
   }

   .results-summary-info {
     display: flex;
     flex-direction: column;
     text-align: right;
   }

   .results-summary-title {
     font-size: 1rem;
     font-weight: 600;
     margin-bottom: 0.3rem;
     direction: rtl;
   }

   .results-summary-sum {
     font-size: 1.5rem;
     font-weight: bold;
     color: #222;
   }

   .results-summary-icon img {
     width: 2.5rem;
     height: 2.5rem;
   }

   .results-summary-sum-zero {
     font-size: 1.5rem;
     font-weight: bold;
     color: #817575;
   }