   .summary-results {
     display: flex;
     background: #fff;
     border-radius: 16px;
     padding: 1rem;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
     overflow: hidden;
   }

   .summary-results__item {
     flex: 1;
     display: flex;
     flex-direction: row-reverse;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     padding: 0 1.5rem;
   }


   /* vertical divider between items */
   .summary-results__item:not(:last-child) {
     border-inline-end: 1px solid #e0e0e0;
   }

   .summary-results__info {
     display: flex;
     flex-direction: column;
     text-align: right;
   }

   .summary-results__title {
     font-size: 1rem;
     font-weight: 600;
     color: #0074C8;
     margin-bottom: 0.3rem;
     direction: rtl;
   }


   .summary-results__sum {
     font-size: 1.5rem;
     font-weight: bold;
     color: #222;
   }

   .summary-results__icon img {
     width: 2.5rem;
     height: 2.5rem;
   }