.malam-input {
  border-radius: 6px;
  padding: 4px 11px;
  font-size: 14px;
  line-height: 1.5715;
  background-clip: padding-box;
  transition: all 0.3s;
  border-image: linear-gradient(to right, #9c27b0, #2196f3) 1;

  border-radius: 6px;
  height: 45px;
  border: 1px solid rgb(0, 2, 128);
  padding: 0 10px;
  
  direction: rtl;
  text-align: right;
  unicode-bidi: plaintext;
}

.malam-input:focus {
  border-color: #40a9ff;
  box-shadow: 0 0 0 1px rgba(160, 201, 240, 0.2);
}
