.malam-input-wrapper-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  direction: rtl;
  margin: 15px;
}

.malam-label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 4px;
  color: #333;
  text-align: right;
  font-weight: bold;
}

.error {
  font-size: 13px;
  color: red;
  margin-top: 5px;
  text-align: right;
  padding-right: 12px;
}

input[type="checkbox"] {
  margin: 0;
  cursor: pointer;
}

.malam-input-wrapper-container:has(input[type="checkbox"]) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 0.5rem;
}

.malam-input-wrapper-container:has(input[type="checkbox"]) .malam-label {
  margin: 0 0.5rem;
}