.switch-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row-reverse;
}

.switch-label {
  font-size: 13px;
  color: #333;
}

:global(.ant-switch-checked .ant-switch-handle) {
  inset-inline-start: calc(100% - 20px);
}