.malam-label {
  position: absolute;
  top: 50%;
  right: 12px; /* Move to right */
  left: auto;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
  background: white;
  padding: 0 5px;
  color: gray;
  font-size: 14px;
  pointer-events: none;
  z-index: 2;
}


/* Ensure the container follows RTL */
.malam-input-wrapper-container {
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
  direction: rtl;  /*Force right-to-left */
}

.malam-input-wrapper-container.focused .malam-label,
.malam-input-wrapper-container .ant-select-selection-item 
{
  top: 5px;
  right: 10px; /* Adjust to right */
  left: auto;
  font-size: 12px;
  color: #888;
  text-align: right;
}

.error {
  font-size: 13px;
  color: red;
}

/* Hide the label when focused and hideLabelOnFocus is true */
.malam-label.hidden-label {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px); /* Optional: Move the label slightly */
}
